.cardwrap {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    width: 15rem;
    margin-bottom: 1rem;
}
 
.cardwrap:hover {
    transform: scale(1.03, 1.03);
}

.cardwrap::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

.cardPic {
  width: 210px !important;
  height: 220px;
  margin: 14px;
  background-color: #eeeeee;
}

#cardSkin {
  padding-top: 0;
  padding-left: 14px;
}

#cardHeader {
  color: #1663be;
  font-weight: 800;
  font-size: 1rem;
}

.textFontStyle {
  font-weight: 700;
}

.mission_info {
  font-weight: 700;
}

.missionclass {
  margin-bottom: 0.3rem;
  padding-left: 25px;
}

@media screen and (max-width: 767px) {
  .cardwrap {        
      width: 100%;
  }
  .cardPic {
    width: 91% !important;
  }
}